.book-card {
	display: flex;
	flex-direction: column;

	&__figure {
		height: 20rem;
		text-align: center;
		padding: 1rem;
	}
	&__img {
		height: 100%;
		width: auto;
	}
	&__content {
		padding: 0 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
