@import '../../scss/mixins';
.navigation {
	position: sticky;
	height: 7rem;

	// background: var(--color-white);
	background: linear-gradient(to right, #00d2ff, #928dab);
	box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);

	z-index: var(--z-index-default);

	top: 0;
	border-bottom: var(--line);

	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0 4rem;

	@include respond(tablet) {
		padding: 0 1.5rem;
	}
}
